div.container {
  margin-top: 20px;
}
h1 {
  font-family: 'Montserrat', sans-serif;
}

/* * {
  font-family: 'Avenir LT W01 45 Book';
} */
div.ad-title {
  padding: 2em;
  background-size: cover;
  background-position: center;
}

div.ad-title h1, div.ad-title p {
  color : white;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

div.carrousel-caption {
  text-shadow: 3px 3px 3px 3px ,rgba(0, 0,0, 0.5);
}

.avatar {
  max-width: 128px;
  max-height: 128px;
  border-radius: 50%;
}

.avatar {
  max-width: 64px;
  max-height: 64px;
  border-radius: 50%;
}
.avatar-medium {
  max-width: 64px;
  max-height: 64px;
}

.avatar-mini {
  max-width: 24px;
  max-height: 24px;
}

.datepicker table tr td.disabled, .datepicker table tr td.disabled:hover {
  color : firebrick !important;
}

span.rating i {
  color: goldenrod;
}

.card-body {
  background-color: #aacbad;
}

.btn-nav {
  border: 2px solid #aacbad;
  padding: 10px;
  margin-right: 16px;
  border-radius: 22px;
  box-shadow: 5px 2px 10px #CBC8C8;
}

.avatar {
  width: 65%;
  height: 20%;
  margin-top: -13px;
}

.img-article {
  height: 350px;
  width: auto;
}