
<h2 class="mb-5">Création d'un article</h2>
<div class="needs-validation">
  <form id="form-element">
    <div class="form-row">
      <div class="form-group col-md-4 mb-3">
        <label for="validationTooltip01">Prénom</label>
        <input name="first_name" type="text" class="form-control" id="validationTooltip01" placeholder="Votre prénom" required>
      </div>
      <div class="form-group col-md-4 mb-3">
        <label for="validationTooltip01">Votre nom</label>
        <input name="last_name" type="text" class="form-control" id="validationTooltip01" placeholder="Votre nom" required>
      </div>
      <div class="form-group col-md-4 mb-3">
        <label for="validationTooltip01">Date de disponibilité du produit</label>
        <input name="date_time" class="form-control form_datetime" data-provide="datepicker">
      </div>

      <div class="form-group col-md-4 mb-3">
        <label for="validationTooltip01">Titre</label>
        <input name="title" type="text" class="form-control" id="validationTooltip01" placeholder="Titre de l'article" required>
      </div>
      <div class="form-group col-md-4 mb-3">
        <label for="categories">Catégorie de l'article</label>
        <select name="categories" class="form-control" id="categories">
          <option>Nourriture</option>
          <option>Électronique</option>
          <option>Fournitures de bureau</option>
          <option>Meubles</option>
        </select>
      </div>
      <div class="custom-file col-md-4 mb-3">
        <label for="validatedCustomFile">Image de l'article</label>
        <input name="photo"type="file" class="custom-file" id="validatedCustomFile">
      </div>
      <div class="form-group col-12">
        <label for="validationTooltip02">Description</label>
        <textarea name="description" type="textarea" class="form-control" id="validationTooltip02" placeholder="Décrivez l'article"
          value="Mes oeufs se périment dans 5 jours et je n'aurai pas le temps de les manger avant de partir en vacances. "
          required>
      </textarea>
      </div>
    </div>
    <div class="col text-center">
      <button class="btn col-2 btn-lg  green-color white-font " type="submit" id='submityes' >Créer l'article</button>
    </div>
</div>
</form>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" integrity="sha256-bqVeqGdJ7h/lYPq6xrPv/YGzMEb6dNxlfiTUHSgRCp8=" crossorigin="anonymous">
    </script>
<script>
  $('.datepicker').datepicker({
    format: 'mm/dd/yyyy',
    startDate: '-3d'
  });
  $(function () {

    var submityesClicked;

    //catch the click to buttons
    $('#submityes').click(function () {
        submityesClicked = true;
    });
    $('#submitno').click(function () {
        submityesClicked = false;
    });

    $('#form-element').submit(function (e) {
        e.preventDefault();//prevent the default action

        $.ajax({
            type: "POST",
            url: "http://localhost:3000/article/create",
            data: $('#form-element').serialize(),
            success: function (res) {
                
                window.location.replace(submityesClicked ? "http://localhost:3000/home" : "http://localhost:3000/article-add");
            },
            error: function () {
                alert("error");
            }
        });
    });
});
</script>