<div class="container">
  <div class="jumbotron mt-3">
    <h1 class="display-3">Bienvenue sur Checo !</h1>
    <p class="lead">Nous mettons en relation les personnes préférant donner leur nourriture et fournitures plutôt que de les gaspiller !</p>
    <hr class="my-4"/>
    <p>Que recherchez-vous ?</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Voir nos articles</a>
    </p>
  </div>
  <h2>Nos articles</h2>
  <div class="row">
    <div class="col-md-4">
      <div class="card bg-light mb-3">
        <div class="card-header text-center">
        5 oeufs, <strong>se périmant dans 5 jours</strong> <br/>
        </div>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSyR4QwIXhJlocX7-c_YAsW0WrLEyMsmIriKiHBjbtj0nQo3Ph-" alt="Image de l'article" style="height: 200px; width: 100%; display: block;"/>
            
        <div class="card-body">
          <h4 class="card-title">
            Nom de l'article
          </h4>
          <p class="card-text">
            Description de l'article
          </p>
          <a href="#" class="btn btn-secondary">En savoir plus !</a>
        </div>
      </div>
    </div>  
  </div>
</div>
