<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="public/images/fakefavicon.ico">
  <title>Checko</title>
    <link rel="stylesheet" href="public/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="public/css/app.css" type="text/css">
</head>
<body>
  {{#each css}}
  <h5>/css/{{this}}</h5>
  {{/each}}
  {{> _header }}
  {{{body}}}
  {{> _footer }}
  {{#each js}}
    <script src="/js/{{this}}"></script>
  {{/each}}
</body>
</html>