<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="public/images/fakefavicon.ico">
  <title>Checko</title>
    <link rel="stylesheet" href="public/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="public/css/app.css" type="text/css">
</head>
 <script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
<body>
  {{> _header }}
  <div class="container">
  {{{body}}}
  </div>
  {{> _footer }}
  <script src="public/js/bootstrap.min.js"></script>
  <script src="public/js/popper.min.js"></script>

</body>
</html>